FLEET_SERVER_ADDRESS=0.0.0.0:8080
FLEET_SERVER_URL={{ fleet_server_url }}
FLEET_SERVER_TLS=true
FLEET_SERVER_TLS_CERT={{ fleet_tls_cert_path }}
FLEET_SERVER_TLS_KEY={{ fleet_tls_key_path }}
FLEET_SERVER_PRIVATE_KEY={{ fleet_server_private_key }}
FLEET_MYSQL_ADDRESS={{ fleet_mysql_address }}
FLEET_MYSQL_DATABASE={{ fleet_mysql_database }}
FLEET_MYSQL_USERNAME={{ fleet_mysql_user }}
FLEET_MYSQL_PASSWORD={{ fleet_mysql_password }}
FLEET_REDIS_ADDRESS={{ fleet_redis_address }}
