pm_api_url      = "https://YOUR_PROXMOX_HOST:8006/api2/json"
pm_user         = "terraform@pve"
pm_password     = "CHANGE_ME_OR_USE_PIPELINE_SECRET"
target_node     = "proxmox"
clone_template  = "ubuntu-2404-cloudinit-template"
storage         = "local-lvm"
bridge          = "vmbr0"
gateway         = "192.168.68.1"
ssh_public_key  = "ssh-ed25519 CHANGE_ME"
