[fleet_app]
fleet-app ansible_host=${fleet_app_ip} ansible_user=${ci_user}

[fleet_db]
fleet-db ansible_host=${fleet_db_ip} ansible_user=${ci_user}

[fleet_redis]
fleet-redis ansible_host=${fleet_redis_ip} ansible_user=${ci_user}

[fleet:children]
fleet_app
fleet_db
fleet_redis
